<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso a helios</title>
    <link rel="icon" href="/img/helios/icono.webp" type="image/x-icon">
    <link rel="stylesheet" href="/style/loginStyle.css">
</head>
<body>
    <header class="page-header">
        <a href="/index.html"><img src="/img/helios/logoB.webp" alt="logo helios" class="logo-header"></a>
    </header>

    <main class="main-content-area">
        <div class="login-container">
            <h2>Iniciar Sesión</h2>
            <form id="ingreso_form">
                <input type="text" id="loginUsername" placeholder="Usuario" required>
                <input type="password" id="loginPassword" placeholder="Contraseña" required>
                <button type="submit">Ingresar</button>
            </form>
            <br>
            <a href="/views/registro.html">Registrarse</a>
        </div>
    </main>

    <footer class="page-footer">
        <hr>
        <p>Powered by Helios &reg; - Derechos Reservados <br> 2025</p>
    </footer>
    <script src="/js/acceso.js"></script>
</body> !
</html>