<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse en Helios</title>
</head>
<body>
    <header>
        <a href="/index.html"><img src="/img/helios/logoN.webp" alt="logo helios"></a>
        <a href="/views/login.html"><img src="/img/iconos/avatar.png" alt="ingreso a usuario ya creado"></a>
    </header>
    <div class="container">
        <form id="ingreso_form">
            <input type="text" id="registerUser" placeholder="Usuario" required>
            <input type="password" id="registerPassword" placeholder="Contrseña" required>
            <button type="submit">Registrarse</button>
        </form>
    </div>
    <footer>
        <hr>
        <p>Powered by Helios &reg; - Derechos Reservados <br> 2025</p>
    </footer>
    <script src="/js/registro.js"></script>
</body>
</html>