<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido!</title>
    <link rel="icon" href="/img/helios/logoB.webp" type="image/x-icon">
    <link rel="stylesheet" href="/style/userStyle.css">
</head>
<body>
    <header>
        <a href="/index.html"><img src="/img/helios/logoB.webp" alt="logo helios"></a>
    </header>
    <aside>
        <img src="/img/iconos/avatar.png" alt="foto de perfil">

    </aside>
    <div>
        <form id="crearCliente">
            <input type="text" id="nombre" placeholder="Nombre" required> 
            <input type="number" id="cedula" placeholder="Cedula" required>
            <input type="number" id="telefono" placeholder="Telefono" required>
            <input type="text" id="direccion" placeholder="Direccion">
            <input type="text" id="descripcion" placeholder="Descripcion">
            <input type="text" id="estado" placeholder="estado" required>
            <button type="submit">crear cliente</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cedula</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Descripcion</th>
                    <th>Estado</th>
                    <th>editar</th>
                    <th>borrar</th>
                </tr>
            </thead>
            <tbody id="tablaDatos">
            </tbody>
        </table>
    </div>
    <footer>
        <hr>
        <p>Powered by Helios &reg; - Derechos Reservados <br> 2025</p>
    </footer>
    <script src="/js/usuario.js"></script>
</body>
</html>