<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido!</title>
    <link rel="icon" href="/img/helios/logoB.webp" type="image/x-icon">
    <link rel="stylesheet" href="/style/loginStyle.css">
</head>
<body>
    <header>
        <a href="/index.html"><img src="/img/helios/logoB.webp" alt="logo helios"></a>
    </header>
    <div>

    </div>
    <footer>
        <hr>
        <p>Powered by Helios &reg; - Derechos Reservados <br> 2025</p>
    </footer>
    <script src="/js/acceso.js"></script>
</body>
</html>